<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script src="../src/thermostat.js"></script>
  </head>
  <body>

    <h1>Temperature: 20 degrees </h1>
    <h2>PSM: On</h2>
    <h3>A dummy error!</h3>
    <h3>Energy Usage: Med</h3>

    <button type="button" name="up">UP</button>
    <button type="button" name="down">DOWN</button>
    <button type="button" name="psm">PSM</button>

    <button type="button" name="usage">ENERGY USAGE</button>

  </body>
</html>
